# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
API_KEY= 68b537ae5548f1.52917953
API_KEY1= a182afed0fe99c1c56dcdd909a52a23b

# API for hh.ru
HH_API=https://api.hh.ru/
